@import "tailwindcss";

@layer base {
  :root {
    --radius: 0.5rem;
    color-scheme: light;
  }

  html {
    color-scheme: light;
  }

  body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    border-color: #E5E7EB;
  }
}
